#experiences {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}
.experiences {
  width: 45%;
}
.mainExperiences__div {
  display: grid;
  /* padding: 0px 20px; */
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 0.5rem 0rem;
}
.mainExperiences__div p {
  color: #868e96;
  font-size: 20px;
  text-align: justify;
  line-height: 40px;
  word-break: break-all;
  text-align: justify;
}
.experiences__heading {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}
.mainExperiences__div p .fa-bolt {
  color: orange;
  margin-right: 12px;
}

/******************************************************** Media Queries ****************************************************************/
@media only screen and (max-width: 523px) {
  .experiences {
    width: 75%;
  }
  .mainExperiences__div p {
    font-size: 16px;
    line-height: 28px;
  }
  .experiences__heading {
    font-size: 25px;
  }
}
@media only screen and (min-width: 524px) and (max-width: 840px) {
  .experiences {
    width: 60%;
  }
  .mainExperiences__div p {
    font-size: 16px;
    line-height: 28px;
  }
  .experiences__heading {
    font-size: 25px;
  }
}
